./shadfin_app/.idea
./shadfin_app/.vscode
./shadfin_app/libmpv-2.dll
./wails/wails.exe
shadfin_app/libmpv-2.dll
shadfin_app/.build/bin/
shadfin_app/bundle/web/.nuxt/
shadfin_app/bundle/web/.output/
shadfin_app/shadfin_app.cfg
